body {
    background-color:black; 
    font-family: arial;
    color:white;
}
h1{
    color:grey;
    font-family: verdana;
}

.maindiv{
    background-color: white;
    color: black;
    width: 500px;
    position: absolute;
    padding: 40px;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#principal{
    margin-left: 61px;
}
#rate{
    margin-left: 81px;
}

#years{
    margin-left: 37px;
}

.amount{
    margin-bottom: 16px;
}
.rate{
    margin-bottom: 18px;
}

.compute{
    margin-top: 19px;
    margin-bottom: 20px;
}